<app-navbar></app-navbar>
<md-sidenav-container class="example-container">
  <md-sidenav #sidenav class="example-sidenav">
    Jolly good!
  </md-sidenav>

  <div class="example-sidenav-content">

    <button md-button (click)="sidenav.open()">
      Open sidenav
    </button>




    <h2>My Heroes</h2>
    <ul class="heroes">
      <li *ngFor="let hero of heroes" (click)="onSelect(hero)">
        <span class="badge">{{hero.id}}</span> {{hero.name}}
      </li>
      <h3>{{selectedHero.name}}</h3>
      <h3>{{selectedHero.id}}</h3>
    </ul>
  </div></md-sidenav-container>
